@import 'src/styles/fonts';
@import 'src/styles/general';

@mixin wrapper($gap, $maxWidth) {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: $gap;
	max-width: $maxWidth;
	width: 100%;
}

.profile {
	&__wrapper {
		@include wrapper(32px, 510px);
	}

	&__buttons {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
	}
}
