@import 'src/styles/fonts';
@import 'src/styles/general';

@mixin Wrapper($gap, $maxWidth) {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: $gap;
	max-width: $maxWidth;
	width: 100%;
}

.profile {
	&__wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 32px;
		max-width: 510px;
		width: 100%;
		@include Wrapper(32px, 510px);
	}

	&__buttons {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	}
}
