@import 'src/styles/fonts';

.info {
	&__container {
		border: 2px solid rgba(219, 198, 209, 0.50);
		background: rgba(209, 64, 134, 0.80);
		box-shadow: 4px 4px 6px 4px #DB006E, -4px -4px 6px 4px #DB006E;
		padding: 16px;
	}

	&__text {
		@include link;
		text-decoration-line: none;
	}
}
