$base-white: #FFF;
$base-old-rose: #C27E8C;
$base-pale-yellow: #FFF9BB;
$base-lavender-pink: #FFA7D3;
$base-cameo-pink: #F0BCC6;
$base-classic-rose: #FFCCE6;
$base-maroon: #D01F4B;
$base-red-purple: #DB006E;
$base-magenta: #D14086;
$base-raisin-black: #2B171E;
$base-dark-scarlet: #470225;
$base-dark-chocolate: #45072E;
$base-cetacean-blue: #170D41;
$base-maastricht-blue: #061433;
$base-black: #000;
$base-waterspout: #A3F4FF;
$base-bluebonnet: #130FF4;
