$baseOldRose: #C27E8C;
$baseYellow: #FFF9BB;
$baseMaroon: #D01F4B;
$baseRedPurple: #DB006E;
$baseWhite: #FFFFFF;
$baseMagenta: #D14086;

$baseLavenderPink: #FFA7D3;
$baseCameoPink: #F0BCC6;
$baseCinnamonSatin: #D66984;
$baseClassicRose: #FFCCE6;

$baseRaisinBlack: #2B171E;
$baseDarkScarlet: #470225;
$baseDarkChocolate: #45072E;
$baseCetaceanBlue: #170D41;
$baseMaastrichtBlue: #061433;
$baseBlack: #000000;
