@import 'src/styles/colors';

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.layout {
	display: flex;

	&__wrapper {
		width: 100%;
		height: 100%;
	}

	&-center {
		align-items: center;
		justify-content: center;
	}

	&-space-between {
		justify-content: space-between;
	}

	&-flex-start {
		align-items: flex-start;
		justify-content: center;
	}

	background: linear-gradient(288deg, $base-dark-scarlet 0%, $base-dark-chocolate 15.94%, $base-cetacean-blue 39.9%, $base-maastricht-blue 72.71%, $base-black 100%);
}
