@import 'src/styles/fonts';
@import 'src/styles/colors';

.avatar-name-button {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 1;
	flex-shrink: 1;
	gap: 8px;

	&__name {
		text-shadow: 4px 4px 6px $base-red-purple;
		text-transform: capitalize;

		@include link;

		overflow: hidden;
		text-overflow: ellipsis;
	}
}
