@import 'src/styles/fonts';

.header {
	color: #FFA7D3;
	text-align: center;
	text-shadow: 6px 8px 4px rgba(219, 0, 110, 0.50), 0 0 8px rgba(219, 0, 110, 0.50), 0 0 16px rgba(219, 0, 110, 0.50), -4px -8px 8px rgba(219, 0, 110, 0.50);
	@include bold;
	font-size: 40px;
	line-height: 42px;
	margin: 0;
	width: fit-content;
}
