@import 'src/styles/colors';

@mixin avatar-size($containerSize) {
	.avatar {
		&-background {
			width: $containerSize;
			height: $containerSize;
		}

		width: $containerSize * 0.8;
		height: $containerSize * 0.8;
	}
}

.avatar {
	&-background {
		border-radius: 50%;
		background: radial-gradient(50% 50% at 50% 50%, $base-raisin-black 81.56%, $base-red-purple 100%);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	border-radius: 50%;
	object-fit: cover;
}

@include avatar-size(50px);

[data-size='120'] {
	@include avatar-size(120px);
}

[data-size='40'] {
	@include avatar-size(40px);
}
